%div{:id => 'home'}
  %img{:class => 'banner', :src => '/images/missing.png', :alt => 'MARC Banner'}
  .third
    %h2 Mission Statement
    %p MARC is a specialty chemical manufacturing company that strives to produce innovative,environmentally responsible, economical and quality maintenance products with superior customer service
    %p We will do this through the continued research and development of innovative chemical solutions. 
    %p In the pursuit of our mission, we will strive to attract, develop, retain and reward the best people in our industry.
  .third
    %h2 Who We Are
    %p MARC distributes an extensive line of commercial floor maintenance products, including floor cleaners and waxes, gymnasium finishes, concrete sealers and carpet cleaners.
    %p MARC is a leading supplier of restroom sanitizers and deodorant products.
    %p MARC also distributes many products for facilities grounds and parking areas.   Applicable products include insect and weed controls, crack fillers, ice melters, and traffic marking paints.
    %p For municipal and private swimming pools, MARC can provide its customers with the finest quality swimming pool coatings and water-related conditioning products.
    %p Governmental entities will find an extensive, quality line of vehicle, heavy machinery and shop related maintenance products
  .third
    %h2 Featured Product
    %div{:id => 'featured'}
      - unless @featured_product.nil?
        %img{:src => "#{@featured_product.image.path.nil? ? '/images/missing.png' : @featured_product.image(:thumb)}", :alt => 'MARC Product'}
        %h2= @featured_product.title
        %h3= @featured_product.sku
        %p= @featured_product.description.truncate(400)
        %p
          %a{:href => "/categories/#{@featured_product.category.id}/products/#{@featured_product.id}"} View Product Page
      - else
        %p Featured product not found.
  .clear