%div{:id => 'contact'}
  .half
    %h2 Do You Have Questions About MARC Or Our Products?
    %p Please fill out the form on this page to contact us and we will be happy to answer any questions you have!
    %p
      Or you can call us at:
      %br
      %br
      %span{:class => 'phone'} Toll Free 800.228.8508
      %span{:class => 'phone'} Tel 402.564.7104
      %span{:class => 'phone'} Fax 402.563.1290
    %h2 Interested In A Career At MARC?
    %p 
      Find out more on our
      %a{:href => '/careers'} career opportunities 
      page!
    %h2 Retailers
    %p
      %ul{:id => 'retailers'}
        %li
          %a{:href => '/retailer'} Find a retailer in your area
    %h2 Sales Reps
    %p
      %ul{:id => 'sales_reps'}
        %li
          %a{:href => '/salesrep'} Find a sales rep in your area
  .half
    = form_for :contact, :url => new_contact_path, :html => {:class => 'contact'} do |f|
      - if flash[:notice]
        %div{:id => 'flash'}= flash[:notice]
      - if @contact.errors.any?
        %div{:id => 'errors'}
          %p There was an error sending the message:
          %ul
            - @contact.errors.full_messages.each do |message|
              %li= message
      %ul
        %li
          = f.label :name
          = f.text_field :name
        %li
          = f.label :organization, "Organization (If applicable)"
          = f.text_field :organization
        %li
          %span
            = f.label :email
            = f.text_field :email
          %span
            = f.label :phone
            = f.text_field :phone
        %li
          = f.label :message
          = f.text_area :message, :cols => 50, :rows => 3
        %li
          = f.submit :send, :value => "Send"
  .clear