%div{:id => 'product'}
  .third
    %img{:class => 'product', :src => "#{@product.image}", :alt => 'MARC Product'}
  .two_third
    %ul{:class => 'breadcrumb'}
      %li
        %a{:href => '/'} MARC
      %li >>
      %li
        %a{:href => '/categories'} Product Categories
      %li >>
      %li
        %a{:href => "/categories/#{params[:category_id]}/products"}= @category.title
      %li >>
      %li
        %a{:href => "/categories/#{params[:category_id]}/products/#{params[:product_id]}"}= @product.title
    %h2= @product.title
    %h3= @product.sku
    %p= @product.description
    %p= @product.sizes
    %ul{:id => 'brochures'}
      - unless @product.data.path.nil?
        %li
          %a{:href => "#{@product.data}", :class => 'call_to_action'} Data Sheet
      - unless @product.msds.path.nil?
        %li
          %a{:href => "#{@product.msds}", :class => 'call_to_action'} MSDS Sheet
      - unless @product.label.path.nil?
        %li
          %a{:href => "#{@product.label}", :class => 'call_to_action'} Sample Label
  .clear