!!!5
%html
  %head
    %base{:href => "http://#{request.env['HTTP_HOST']}"}
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    /[if IE]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    :javascript
      /* Initiate the application javascript and run */
      $(document).ready(function(){

        marc.run();

      });
    = csrf_meta_tag
    %title MARC
  %body
    %header
      .container
        %h1{:id => 'logo'}
          %a{:href => '/'} MARC
        = form_for @search, :url => search_path, :html => {:class => 'search', :method => :get} do |f|
          %ul
            %li
              = f.label :title_or_description_or_sku_contains, "Product Search"
              = f.text_field :title_or_description_or_sku_contains, :placeholder => 'Search by product title, ID, etc…'
        %nav
          %ul
            %li
              %a{:href => '/home', :class => "#{'selected' if current_page?(:controller => 'home', :action => 'index')}"} Home
            %li
              %a{:href => '/categories', :class => "#{'selected' if current_page?(:controller => 'categories') || controller_name == 'products'}"} Products
            %li
              %a{:href => '/about', :class => "#{'selected' if current_page?(:controller => 'about', :action => 'index')}"} About Us
            %li
              %a{:href => '/how', :class => "#{'selected' if current_page?(:controller => 'how', :action => 'index')}"} How To
            %li
              %a{:href => '/careers', :class => "#{'selected' if current_page?(:controller => 'careers', :action => 'index')}"} Careers
            %li
              %a{:href => '/contact', :class => "#{'selected' if current_page?(:controller => 'contact', :action => 'index')}"} Contact
        %hr
    %section
      .container
        = yield
    %footer
      .container
        %p{:id => 'copyright'} P.O. Box 927 | Columbus, NE 68601 | Toll Free 800.228.8508 | 402.564.7104 | Fax 402.563.1290 | www.marc1.com | © 2011 Mid-American Research Chemical Corp. | All Rights Reserved
        %p{:id => 'legal'} Every effort has been made to ensure the accuracy and completeness of the electronic documents and resources provided on this web site. However, Mid-American Research Chemical makes no warranties, expressed or implied, regarding errors or omissions and assumes no legal liability or responsibility for loss or damage resulting from the use of information contained within. Any pesticide information (e.g. herbicides, insecticides, disinfectants, etc.) found on this site is for informational purposes only and does not constitute an offer for sale of the products with those labels. Please read the actual pesticide label on the container prior to use. The information contained at this web site is not a substitute for a pesticide label.